.env
.docker-compose.yml.swp
logs/*
graphs*
elevation_cache*
data/*
jupyter/.ipynb_checkpoints
vroom/vroom-scripts
vroom/vroom-src
vroom/conf
vroom/conf/access.log
vroom-app/vroom-frontend
node_modules
package-lock.json
