.env
.docker-compose.yml.swp
logs/*
logs2/*
graphs*
elevation_cache*
data/*
jupyter/tests/.ipynb_checkpoints/*
vroom/vroom-scripts
vroom/vroom-src
vroom/conf
vroom/conf/access.log
vroom-app/vroom-frontend
**/node_modules
package-lock.json
jupyter/tests/.ipynb_checkpoints/*
